* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body .container {
  background-color: #f2f1f4;
  padding: 25px;
  width: 750px;
}
body .container input {
  width: 100%;
  font-size: 20px;
  padding: 15px 20px;
  border: none;
  margin-bottom: 20px;
}
body .container .btns {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container .btns button {
  background-color: #03968c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  padding: 8px 10px;
  cursor: pointer;
}
body .container .preview {
  font-size: 20px;
  text-align: center;
  border: 4px dashed #f2f1f4;
  background-color: white;
  padding: 30px 20px;
}
